<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localização</title>
    <style>
    .amongus{
        width: 100%;
        height: 100px;
        cursor: pointer;

        }
    </style>

</head>
<body>
    <h1>Página - Localização (pagina4.ejs)</h1><br>

    <a href="/">Index</a><br>

    <a href="/contato">Contato</a><br>

    <a href="/portifolio">Portifolio</a><br>

    <a href="/mapa">Mapa</a><br>


    <a href="https://www.youtube.com/watch?v=T59N3DPrvac"><img src="https://pbs.twimg.com/media/Euo3fCtXAAEmZx0?format=jpg&name=900x900" class="amongus">
    </a><br>

    
</body>
</html>